<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Alphaleaf moonshot test suit">
    <test name="smoke">
        <classes>
            <class name="tests.OptionsDemoTest"/>
            <class name="tests.OptionsDemoTwoTest"/>
        </classes>
    </test>
</suite>